# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/view/dist
/view/tmp
/view/out-tsc
/view/public
/server/public/userCreatCard/*
/server/public/card/*
/server/log/*/*.log
/server/data/cache/gravatar/*
/server/public/userTx/*

# dependencies
/view/node_modules
/server/node_modules

# IDEs and editors
/view/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/view/.sass-cache
/view/connect.lock
/view/coverage
/view/libpeerconnection.log
npm-debug.log
testem.log
/view/typings

# e2e
/view/e2e/*.js
/view/e2e/*.map

# System Files
.DS_Store
Thumbs.db

/server/log/access/*.gz
/server/log/application/*.gz
